.container {
    background-color:rgb(225, 88, 81);
}

.intro {
    float:left;
}
.right_column_container {
   float:left;
}
.project_left_column{
    float:left;
   
}


.project_left_column h2{
    padding-top:100px;
   
}
#project_images{
    float:left;

}

#project_intro{
    clear: both;
    display:block;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

