
body {
  font-size: 100%;
 font-family: 'Josefin Sans', sans-serif;
}

/*LINK STYLES*/

a, a:link, a:active {
  text-decoration: none;
  color: 28,27,32;
}

a:hover, a:focus {
  color: #777;
}

a:visited {
  color: #AAA;
}
