#landing_container{
    background-color:rgb(225, 88, 81);
}
#work_intro{
    float:left;
}
#portfolio_intro{
   float:left;
}
.total_presentation{
    float:left;
}
#project_images{
    float:left;

}

#project_intro{
    clear: both;
    display:block;
}


/*.clearfix::after {
  content: "";
  display: table;
  clear: both;
}*/

